@import "tailwindcss";
body{
    /* align-items: center; */
    justify-content: center;

}
/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
} */
 html {
  transition: background-color 0.3s ease, color 0.3s ease;
}
